<mat-card class="book-card">
  <mat-card-header>
    <mat-card-title>{{ book.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-subtitle>
    <div *ngFor="let author of book.authors">
      <p>{{ author.firstname }} {{ author.lastname }}</p>
    </div>
  </mat-card-subtitle>
  <img
    class="cover"
    mat-card-image
    src="{{ images }}{{ book.cover_photo }}"
    alt="couverture du livre : {{ book.title }}"
  />
  <mat-card-content>
    <p>{{ book.extract }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent">En savoir plus</button>
    <button mat-raised-button color="accent">Ajouter au panier</button>
  </mat-card-actions>
</mat-card>
